<li class='film-item'>
  <img
    class='main-image'
    loading='lazy'
    src='${srcAudit(src)}'
    alt='${item.original_title
        }'
  /><div class='tex-item'>
    <p class='item-name'>${name}</p><div class='info'>
      <p class='item-genre'>${auditGanres(genr)}
      </p><p class='item-year'>${year}</p></div></div>
</li>