.main-image {
  object-fit: cover;
  border-radius: 1.5em;
  height: 398px;
  width: 280px;
  margin: 0 auto 8px;
  @include tablet {
    height: 445px;
    width: 336px;
  }
  @include desktop {
    height: 574px;
    width: 395px;
    margin-bottom: 12px;
  }
}
.film-item {
  margin: 0 auto;
  text-align: center;
  width: 280;
  @include tablet {
    width: 336;
    align-content: center;
    margin: 0;
  }

  @include desktop {
    width: 395;
  }
}
.info {
  display: flex;
  justify-content: start;
}
.item-genre {
  @include font(500, 13px, 1.33, null);
  color: #ff6b08;
  @include desktop {
    @include font(null, 18px, 1.2, null);
  }
  &::after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 10px;
    background-color: #ff6b08;
    @include desktop {
      width: 2px;
      height: 14px;
    }
  }
}
.item-year {
  @include font(500, 13px, 1.33, null);
  @include desktop {
    @include font(500, 18px, 1.2, null);
  }

  color: #ff6b08;
  padding-left: 5px;
}
.item-name {
  text-align: start;
  margin-bottom: 4px;
  @include font(500, 13px, 1.33, null);
  @include desktop {
    @include font(500, 20px, 1.2, null);
  }

  color: #000000;
}
.film-list {
  margin: 0;
  display: grid;
  row-gap: 20px;
  justify-content: space-around;
  @include tablet {
    gap: 32px;
    grid-template-columns: 336 336;
  }
  @include desktop {
    gap: 16px;
    row-gap: 32px;
    grid-template-columns: 394 394 394;
  }
}
.vote {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include font(500, 13px, 1.33, null);
  margin-left: 8px;
  background-color: #ff6b08;
  color: #ffffff;
  border-radius: 5px;
  width: 36px;
  height: 16px;
  @include desktop {
    width: 40px;
    height: 20px;
  }
}

@import '~pretty-checkbox/src/pretty-checkbox.scss';

.filter {
  width: 280px;
  margin: 10px auto;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 25px auto;
  }
  @include tablet {
    gap: 30px;
  }
  @include desktop {
    gap: 40px;
    @include font(500, 18px, 1.33, null);
  }
}
.pretty.p-switch.p-fill input:checked ~ .state.p-success:before {
  background-color: #ff6b08 !important;
}
.pretty.p-switch input:checked ~ .state.p-success:before {
  border-color: #ff6b08;
}
.filter-title {
  @include font(500, 16px, 1.33, null);
  color: #ff6b08;
  @include desktop {
    @include font(500, 25px, 1.33, null);
  }
}
.filter-input:checked + .state {
  color: #ff6b08;
}
.filter-label {
  transition: all 0.5s;
}
div.pretty:hover {
  color: #ff6b08;
}
