.main-image {
  object-fit: cover;
  border-radius: 1.5em;
  height: 398px;
  width: 280px;
  margin: 0 auto 8px;
  @include tablet {
    height: 445px;
    width: 336px;
  }
  @include desktop {
    height: 574px;
    width: 395px;
    margin-bottom: 12px;
  }
}

.main-page {
  margin-top: 60px;
}

.header {
  color: #ffffff;
  font-weight: 500;
  &__background {
    background: url('../img/header/background.png') no-repeat center;
    width: 100%;
    background-size: cover;
    max-height: 216px;
  }

  &__links {
    padding-top: 40px;
    display: flex;
    align-items: center;
  }

  &__logo {
    font-size: 30px;
    line-height: 35px;
    text-transform: capitalize;
    text-decoration-line: none;
    & img {
      display: inline-block;
      padding-right: 10px;
    }
  }
  &__menu {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    flex-grow: 2;

    & ul {
      display: flex;
      float: right;
    }

    & li {
      list-style: none;

      &:hover {
        &::after {
          content: ' ';
          background-color: #ff001b;
          width: inherit;
          height: 2.86px;
          display: block;
        }
      }

      &:nth-child(1) {
        padding-right: 40px;
      }

      & a {
        text-decoration-line: none;
      }
    }
  }

  &__buttons {
    margin: 0 auto;
    padding: 54px 0 60px;
    width: 310px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    width: 148px;
    height: 42px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    border: solid 1px #ffffff;

    @media screen and(min-width: 480px) {
      width: 129.53px;
    }

    &:hover {
      background-color: #ff6b08;
      border: none;
    }
  }
}

.logo-name {
  @media screen and(min-width: 320px) {
    display: none;
  }

  @media screen and(min-width: 480px) {
    display: block;
  }
}

.film-item {
  margin: 0 auto;
  text-align: center;
  width: 280;
  @include tablet {
    width: 336;
    align-content: center;
    margin: 0;
  }

  @include desktop {
    width: 395;
  }
}
.info {
  display: flex;
  justify-content: start;
}
.item-genre {
  @include font(500, 13px, 1.33, null);
  color: #ff6b08;
  @include desktop {
    @include font(null, 18px, 1.2, null);
  }
  &::after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 10px;
    background-color: #ff6b08;
    @include desktop {
      width: 2px;
      height: 14px;
    }
  }
}
.item-year {
  @include font(500, 13px, 1.33, null);
  @include desktop {
    @include font(500, 18px, 1.2, null);
  }

  color: #ff6b08;
  padding-left: 5px;
}
.item-name {
  text-align: start;
  margin-bottom: 4px;
  @include font(500, 13px, 1.33, null);
  @include desktop {
    @include font(500, 20px, 1.2, null);
  }

  color: #000000;
}
.film-list {
  display: flex;
  row-gap: 20px;
  flex-wrap: wrap;
  @include tablet {
    gap: 32px;
  }
  @include desktop {
    gap: 16px;
    row-gap: 32px;
  }
}
.vote {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include font(500, 13px, 1.33, null);
  margin-left: 8px;
  background-color: #ff6b08;
  color: #ffffff;
  border-radius: 5px;
  width: 36px;
  height: 16px;
  @include desktop {
    width: 40px;
    height: 20px;
  }
}
