@import '~node_modules/modern-normalize/modern-normalize.css';

* {
  box-sizing: border-box;
}

i {
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  font-style: normal;
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
