.text-footer{
    padding: 30px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.container-footer{
    background-color: #F7F7F7;
}

.favorite{
    width: 14px;
    height: 13px;
    margin: 0 10px;
}

.text-margin{
    margin-right: 4px;
}
