.header {
  color: #ffffff;
  font-weight: 500;
  &__background {
    background: url('../img/header/lib_mob_1x-min.jpg') no-repeat center;
    width: 100%;
    background-size: cover;
    max-height: 216px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: url('../img/header/lib_mob_2x-min.jpg') no-repeat center;
    }
    @include tablet {
      background: url('../img/header/lib_tab_1x-min.jpg') no-repeat center;
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background: url('../img/header/lib_tab_2x-min.jpg') no-repeat center;
      }
    }
    @include desktop {
      background: url('../img/header/lib_desk_1x-min.jpg') no-repeat center;
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background: url('../img/header/lib_desk_2x-min.jpg') no-repeat center;
      }
    }
  }

  &__links {
    padding-top: 40px;
    display: flex;
    align-items: center;
  }

  &__logo {
    font-size: 30px;
    line-height: 35.16px;
    text-transform: capitalize;
    text-decoration-line: none;
    & img {
      display: inline-block;
      padding-right: 10px;
    }
  }
  &__menu {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    flex-grow: 2;

    & ul {
      display: flex;
      float: right;
    }

    & li {
      list-style: none;

      &:nth-child(1) {
        margin-right: 39px;
      }

      & a {
        text-decoration-line: none;
      }
    }
  }

  &__buttons {
    margin: 0 auto;
    padding: 39px 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include start {
      width: 279px;
    }

    @include tablet {
      width: 336px;
    }

    @include desktop {
      width: 311px;
    }
  }
}

.header__btn {
  height: 42px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: solid 1px #ffffff;
  transition: all 0.5s;

  @include start {
    width: 129.53px;
  }

  @include tablet {
    width: 152px;
  }

  @include desktop {
    width: 148px;
  }

  &:hover {
    background-color: #ff6b08;
    border: none;
  }
}

.activeBtn {
  height: 42px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff4a08;
  border: none;
  transition: all 0.5s;
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);

  @include start {
    width: 129.53px;
  }

  @include tablet {
    width: 152px;
  }

  @include desktop {
    width: 148px;
  }
}

.logo-name {
  @include start {
    display: none;
  }

  @include mobile {
    display: block;
  }
}
.current::after {
  content: ' ';
  background-color: #ff001b;
  width: inherit;
  height: 2.86px;
  display: block;
  border-radius: 5px;
}
.library__btn-list-delete {
  background-image: url(/src/img/icons/close.svg);
}
