$gradient: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));

.header {
  color: #ffffff;
  font-weight: 500;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__home__background {
  background-image: $gradient, url(../img/header/desctop_qx-min.jpg);

  @media screen and(min-width:$mobile) {
    background-image: $gradient, url(../img/header/mob_2x-min.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $gradient, url(../img/header/mob_2x-min.jpg);
    }
  }
  @media screen and(min-width:$tablet) {
    background-image: $gradient, url(../img/header/tablet_1x-min.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $gradient, url(../img/header/tablet_2x-min.jpg);
    }
  }
  @media screen and(min-width:$desktop) {
    background-image: $gradient, url(../img/header/desctop_qx-min.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $gradient, url(../img/header/desctop_2x-min.jpg);
    }
  }
}

.search {
  padding-top: 40px;
  padding-bottom: 80px;
}

.border {
  border-bottom: 1px solid #ffffff;
  margin: 0 auto;
  @include tablet {
    width: 394px;
  }
}

.search__form {
  display: flex;
  justify-content: center;
}

.search__input {
  background-color: transparent;
  border: none;
  &:focus {
    outline: none;
  }

  width: 375px;
  &::placeholder {
    color: #ffffff;
  }
}

.search__input:focus {
  color: #ffffff;
}

.search__btn {
  background-color: transparent;
  border: none;
}

.icon-search {
  transition: all 0.3s;
  width: 14px;
  height: 14px;
  &:hover {
    scale: 1.3;
  }
}
.link--oreol {
  transition: all 0.3s;
  &:hover {
    color: #ff6b08;
    scale: 1.1;
    transition: all 0.3s;
  }
}
