.library__btn-list-delete {
  border: 0;
  transition: transform 300ms ease-in-out;
  background-color: #ff6b08;
  opacity: 0.5;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 2%;
  left: 82%;
  width: 40px;
  height: 40px;
  @include tablet {
    top: 2%;
    left: 84%;
    width: 40px;
    height: 40px;
  }
  @include desktop {
    top: 1, 2%;
    left: 87%;
    width: 40px;
    height: 40px;
  }
}
.library__film-item {
  position: relative;
}

.library__btn-list-delete:hover {
  background-color: #ff6b08;
  transform: scale(1.125);
}

.library__main-image {
  transition: all 0.4s;
  &:hover {
    cursor: pointer;
    // scale: 1.025;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
      -23px 0 20px -23px rgba(0, 0, 0, 0.8),
      23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  object-fit: cover;
  border-radius: 1.5em;
  height: 398px;
  width: 280px;
  margin: 0 auto 8px;
  @include tablet {
    height: 445px;
    width: 336px;
  }
  @include desktop {
    height: 574px;
    width: 395px;
    margin-bottom: 12px;
  }
}

.library__film-item {
  position: relative;

  margin: 0 auto;
  text-align: center;
  width: 280;
  @include tablet {
    width: 336;
    align-content: center;
    margin: 0;
  }

  @include desktop {
    width: 395;
  }
}
.library__info {
  display: flex;
  justify-content: start;
}
.library__item-genre {
  @include font(500, 12px, 1.33, null);
  color: #ff6b08;
  @include tablet {
    @include font(null, 15px, 1.2, null);
  }
  @include desktop {
    @include font(null, 18px, 1.2, null);
  }
  &::after {
    content: '';
    margin-left: 5px;
    display: inline-block;
    width: 2px;
    height: 10px;
    background-color: #ff6b08;
    @include desktop {
      width: 2px;
      height: 14px;
    }
  }
}
.library__item-year {
  @include font(500, 12px, 1.33, null);
  @include tablet {
    @include font(null, 15px, 1.2, null);
  }
  @include desktop {
    @include font(500, 18px, 1.2, null);
  }

  color: #ff6b08;
  margin-left: 5px;
}
.library__item-name {
  transition: all 0.3s;
  &:hover {
    text-decoration: underline;
  }
  text-align: start;
  margin-bottom: 4px;
  @include font(500, 13px, 1.33, null);
  @include tablet {
    @include font(null, 15px, 1.2, null);
  }
  @include desktop {
    @include font(500, 20px, 1.2, null);
  }

  color: #000000;
}
