.library__list {
  min-height: 600px;
  margin: 0;
  margin-bottom: 30px;
  display: grid;
  row-gap: 20px;
  margin-top: 20px;
  justify-content: space-around;
  @include tablet {
    margin-top: 40px;
    gap: 32px;
    grid-template-columns: 336 336;
  }
  @include desktop {
    gap: 15px;
    row-gap: 32px;
    grid-template-columns: 395 395 395;
  }
}

.library {
  display: flex;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: center;
}

.library-bg__image {
  margin-top: 20px;
  justify-content: center;
  width: 320px;
  height: 200px;
  overflow: visible;

  background: url(../images/chooseLibrary.jpeg) no-repeat center center;

  background-size: contain;
  @media screen and (min-width: $mobile) {
    width: 450px;
    height: 300px;
  }
  @media screen and (min-width: $tablet) {
    width: 800px;
    height: 500px;
  }
  @media screen and (min-width: $desktop) {
    width: 900px;
    height: 600px;
  }
}
