<footer class="footer">
  <div class="container container-footer">
    <div class="text__footer">
      <div class="text__footer--pre__icon">
        <span class="text__margin">© 2020 | All Rights Reserved |</span>
      </div>
      <div class="text__footer--by__icon">
        <span class="mobile__wrap">Developed with </span>
        <img
          class="favorite"
          src="/src/img/icons/favorite.svg"
          alt="favorite"
        />
        <span class="text__margin">by </span>
        <button type="button" class="footer-btn" data-modal-open>
          GoIT Students
        </button>
      </div>
    </div>
  </div>
</footer>
