<!-- Aleksandr Velychkovskiy -->
<div class="backdrop-footer is-hidden-footer" data-modal>
  <div class="modal-box">
    <button type="button" class="modal-box__btn" data-modal-close>
      <svg class="modal-box__btn--close" width="25" height="25">
        <use href="./img/sprite.svg#icon-cross2"></use>
      </svg>
    </button>
    <h2 class="modal-title">Team - 13</h2>
    <ul class="grid">
      <li class="grid-img">
        <img
          class="footer-modal-img"
          alt="Aleksandr_Turlakov"
          src="/src/img/team-13/Aleksandr_Tod.jpg"
        />
        <div class="grid-box">
          <p class="grid-text">
            Aleksandr Turlakov <br />
            Team lead
          </p>
        </div>
      </li>
      <li class="grid-img">
        <img
          class="footer-modal-img"
          alt="Dmitry_Filatov"
          src="/src/img/team-13/Dima_Filatov.jpg"
        />
        <div class="grid-box">
          <p class="grid-text">
            Dmitry Filatov <br />
            Scrum master
          </p>
        </div>
      </li>
      <li class="grid-img">
        <img
          class="footer-modal-img"
          alt="Aleksandr_Velychkovskiy"
          src="/src/img/team-13/Aleksandr_V.jpg"
        />
        <div class="grid-box">
          <p class="grid-text">
            Aleksandr Velychkovskiy <br />
            Developer
          </p>
        </div>
      </li>
      <li class="grid-img">
        <img
          class="footer-modal-img"
          alt="Dmitry_Sv"
          src="/src/img/team-13/Dima_S.jpg"
        />
        <div class="grid-box">
          <p class="grid-text">
            Dmytro Svarkovskiy <br />
            Developer
          </p>
        </div>
      </li>
      <li class="grid-img">
        <img
          class="footer-modal-img"
          alt="Lesha"
          src="/src/img/team-13/humanjpg.jpg"
        />
        <div class="grid-box">
          <p class="grid-text">
            Aleksey Gaman <br />
            Developer
          </p>
        </div>
      </li>
      <li class="grid-img">
        <img
          class="footer-modal-img"
          alt="Tatiana"
          src="/src/img/team-13/chelovechek-dev.png"
        />
        <div class="grid-box">
          <p class="grid-text">
            Tatiana <br />
            Developer
          </p>
        </div>
      </li>

      <li class="grid-img">
        <img
          class="footer-modal-img"
          alt="Andrey_Demjanjuk"
          src="/src/img/team-13/Andrey_Dem.jpeg"
        />
        <div class="grid-box">
          <p class="grid-text">
            Andrey Demjanjuk<br />
            Developer
          </p>
        </div>
      </li>
      <li class="grid-img">
        <img
          class="footer-modal-img"
          alt="Galina"
          src="/src/img/team-13/chelovechek-dev.png"
        />
        <div class="grid-box">
          <p class="grid-text">
            Galina <br />
            Developer
          </p>
        </div>
      </li>
      <li class="grid-img">
        <img
          class="footer-modal-img"
          alt="Oleksandr"
          src="/src/img/team-13/humanjpg.jpg"
        />
        <div class="grid-box">
          <p class="grid-text">
            Oleksandr Kovbasyuk <br />
            Developer
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
