<header class="header">
  <div class="header__background container">
    <div class="header__links">
      <a class="header__logo" href="./index.html"
        ><img src="/src/img/logo/film.svg" alt="logo"
      /></a>
      <a class="header__logo logo-name" href="./index.html">Filmoteka</a>
      <nav class="header__menu">
        <ul>
          <li class="link--oreol"><a href="./index.html">Home</a></li>
          <li class="link--oreol">
            <a class="current" href="./myLibrary.html" id="libHtml"
              >my library</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__buttons">
      <button id="watched-btn" class="header__btn">Watched</button>
      <button id="queue-btn" class="header__btn">queue</button>
    </div>
  </div>
</header>
