<header class="header">
  <div class="header__background">
    <div class="container header__links">
      <a class="header__logo" href=""><img src="./img/logo/film.svg" alt="logo"></a>
      <a class="header__logo logo-name" href="">Filmoteka</a>
      <nav class="header__menu">
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./index.html">my library</a></li>
        </ul>
      </nav>
    </div>
    <div class="header__buttons">
      <button class="header__btn">Watched</button>
      <button class="header__btn">queue</button>
    </div>
  </div>
</header>
